# Bar Chart

In [1]:
%matplotlib inline

In [2]:
import plotly.offline as pyo
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
plt.style.use('ggplot')

In [3]:
bitcoin = pd.read_csv('data/bitcoin-usd.csv', parse_dates=['date'], index_col='date')
sp500 = pd.read_csv('data/sp500.csv', parse_dates=['date'], index_col='date')
monthly_data = pd.read_csv('data/monthly_data.csv', parse_dates=['date'], index_col='date')

In [4]:
monthly_data.head()

            gold_usd   cpi_us
date
2014-09-01  1241.330  237.852
2014-10-01  1223.565  238.031
2014-11-01  1176.413  237.433
2014-12-01  1200.440  236.151
2015-01-01  1249.333  234.812

In [32]:
sp500.head()

                   open         high          low        close      volume
date
2014-09-17  1999.300049  2010.739990  1993.290039  2001.569946  3209420000
2014-09-18  2003.069946  2012.339966  2003.069946  2011.359985  3235340000
2014-09-19  2012.739990  2019.260010  2006.589966  2010.400024  4880220000
2014-09-22  2009.079956  2009.079956  1991.010010  1994.290039  3349670000
2014-09-23  1992.780029  1995.410034  1982.770020  1982.770020  3279350000

In [54]:
data = [
    go.Bar(
        x = sp500['2016-08'].index,
        y = sp500.high,
        name = 'Close',
    )
]

In [55]:
layout = go.Layout(
    title='My Char High',
    xaxis=dict(title='date'),
        yaxis=dict(title='high')
)

In [56]:
fig = go.Figure(
    data = data,
    layout=layout
)

In [57]:
pyo.plot(fig)

'temp-plot.html'