# Plotly Python - Plotly multi line chart| Plotly Python data visualization

In [1]:
%matplotlib inline

In [4]:
import plotly.offline as pyo
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
plt.style.use('ggplot')

In [5]:
bitcoin = pd.read_csv('data/bitcoin-usd.csv', parse_dates=['date'], index_col='date')
bitcoin.head()

                  open        high         low       close      volume
date
2014-09-17  465.864014  468.174011  452.421997  457.334015  21056800.0
2014-09-18  456.859985  456.859985  413.104004  424.440002  34483200.0
2014-09-19  424.102997  427.834991  384.532013  394.795990  37919700.0
2014-09-20  394.673004  423.295990  389.882996  408.903992  36863600.0
2014-09-21  408.084991  412.425995  393.181000  398.821014  26580100.0

In [9]:
bitcoin.index.strftime('%Y')

Index(['2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014',
       '2014',
       ...
       '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021',
       '2021'],
      dtype='object', name='date', length=2619)

In [10]:
get_year = lambda date: date.strftime('%Y')

In [12]:
get_year(bitcoin.index)

Index(['2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014',
       '2014',
       ...
       '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021',
       '2021'],
      dtype='object', name='date', length=2619)

In [13]:
bitcoin['year'] = get_year(bitcoin.index)

In [15]:
bitcoin.head()

                  open        high         low       close      volume  year
date
2014-09-17  465.864014  468.174011  452.421997  457.334015  21056800.0  2014
2014-09-18  456.859985  456.859985  413.104004  424.440002  34483200.0  2014
2014-09-19  424.102997  427.834991  384.532013  394.795990  37919700.0  2014
2014-09-20  394.673004  423.295990  389.882996  408.903992  36863600.0  2014
2014-09-21  408.084991  412.425995  393.181000  398.821014  26580100.0  2014

In [17]:
bit_ag = pd.pivot_table(bitcoin, values=['open', 'high', 'volume'], index="year")
bit_ag.head()

             high         open        volume
year
2014   373.265397   365.058217  2.383690e+07
2015   278.151978   272.149011  3.390557e+07
2016   574.302273   567.141429  8.592451e+07
2017  4144.687445  3970.644848  2.382867e+09
2018  7787.978969  7601.018680  6.063552e+09

In [18]:
fac0 = go.Scatter(
    x = bit_ag.index,
    y = bit_ag['high'],
    mode = 'lines',
    name='High'
)

fac1 = go.Scatter(
    x = bit_ag.index,
    y = bit_ag['open'],
    mode = 'lines',
    name='Open'
)

fac2 = go.Scatter(
    x = bit_ag.index,
    y = bit_ag['volume'],
    mode = 'lines',
    name='Volume'
)

In [23]:
data = [fac0, fac1]

In [24]:
layout = go.Layout(title='La moyenne des differentes colonnes')

In [25]:
fig = go.Figure(data=data, layout=layout)

In [26]:
pyo.plot(fig)

'temp-plot.html'