# Multi Line Chart Plot

In [1]:
%matplotlib inline

In [2]:
import plotly.offline as pyo
import plotly.graph_objects as go
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
plt.style.use('ggplot')

In [3]:
bitcoin = pd.read_csv('data/bitcoin-usd.csv', parse_dates=['date'], index_col='date')
bitcoin.head()

                  open        high         low       close      volume
date
2014-09-17  465.864014  468.174011  452.421997  457.334015  21056800.0
2014-09-18  456.859985  456.859985  413.104004  424.440002  34483200.0
2014-09-19  424.102997  427.834991  384.532013  394.795990  37919700.0
2014-09-20  394.673004  423.295990  389.882996  408.903992  36863600.0
2014-09-21  408.084991  412.425995  393.181000  398.821014  26580100.0

In [17]:
bitcoin.index[0].strftime("%Y")

'2014'

In [19]:
get_year = lambda date: date.strftime("%Y")

In [23]:
get_year(bitcoin.index[500])

'2016'

In [37]:
years =  []
[
    years.append(get_year(year))
    for year 
    in 
    bitcoin.index
];

In [38]:
len(years)

2619

In [39]:
bitcoin['year']=years

In [136]:
ag = bitcoin.groupby('year').agg(['mean', 'std'])

In [137]:
ag

              open                        high                         low  \
              mean           std          mean           std          mean
year
2014    365.058217     31.818564    373.265397     32.940094    355.903726
2015    272.149011     58.736787    278.151978     61.344046    266.807891
2016    567.141429    137.909459    574.302273    140.461699    560.453374
2017   3970.644848   4022.608833   4144.687445   4252.932093   3811.707792
2018   7601.018680   2469.977689   7787.978969   2578.010416   7350.747939
2019   7385.218456   2645.219348   7549.907409   2733.163682   7222.602868
2020  11065.855235   4225.036360  11314.931724   4386.650944  10853.252084
2021  46773.647275  10205.645310  48181.439222  10264.876711  45229.020955

                           close                      volume
               std          mean           std          mean           std
year
2014     29.587143    363.693085     30.521741  2.383690e+07  1.497901e+07
2015     56.767289    272.453381     59.337860  3.390557e+07  2.710299e+07
2016    135.860573    568.492407    139.255734  8.592451e+07  5.034484e+07
2017   3773.187657   4006.033629   4053.192202  2.382867e+09  3.786476e+09
2018   2296.187631   7572.298947   2455.455466  6.063552e+09  3.085421e+09
2019   2538.099492   7395.246282   2638.635051  1.673049e+10  7.469125e+09
2020   4141.862739  11125.798836   4324.352792  3.195863e+10  1.142024e+10
2021  10182.078160  46866.243246  10195.459666  4.924952e+10  2.555962e+10

In [174]:
data = [
    go.Scatter(
        x = ag.index,
        y = ag['volume'][col],
        name=col,
        marker=dict(
          size=10,
          symbol=100
        )
    ) for col in ag['volume'].columns
]

In [175]:
layout = go.Layout(title='Mean')

In [176]:
fig = go.Figure(data=data, layout=layout)

In [177]:
pyo.plot(fig)

'temp-plot.html'

In [173]:
ag.index

Index(['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], dtype='object', name='year')

In [125]:
ag['close']

              mean  count           std
year
2014    363.693085    106     30.521741
2015    272.453381    365     59.337860
2016    568.492407    366    139.255734
2017   4006.033629    365   4053.192202
2018   7572.298947    365   2455.455466
2019   7395.246282    365   2638.635051
2020  11125.798836    362   4324.352792
2021  46866.243246    321  10195.459666

In [106]:
[col1 for col1 in ag.columns]

[('open', 'mean'),
 ('open', 'count'),
 ('open', 'std'),
 ('high', 'mean'),
 ('high', 'count'),
 ('high', 'std'),
 ('low', 'mean'),
 ('low', 'count'),
 ('low', 'std'),
 ('close', 'mean'),
 ('close', 'count'),
 ('close', 'std'),
 ('volume', 'mean'),
 ('volume', 'count'),
 ('volume', 'std')]

In [129]:
ag['close'].columns

Index(['mean', 'count', 'std'], dtype='object')